.filter {
  text-align: left;
  margin-top: 8rem;
  font-style: italic;
}

.filter span {
  font-weight: 500;
}

select,
option {
  outline: none;
  font-style: italic;
}

.product-card {
  display: grid;
  grid-template-columns: 450px 1fr;
  align-items: center;
  padding: 2rem 3rem 2rem;
}

.flash-sale {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  margin: 3rem 0;
  padding: 3rem 0 0;
}

.flash-sale .product-details h4 {
  color: #000;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 14px;
  text-transform: uppercase;
  animation: animate 1.8s linear infinite;
  text-align: center;
}

.flash-sale .product-details .flash {
  background-color: #565353;
  padding: 3px 2px;
  border-radius: 10px;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
    color: hsl(26, 100%, 55%);
  }
  100% {
    opacity: 0;
    color: hsl(25, 100%, 94%);
  }
}

.product-card .product-image img {
  width: 100%;
  border-radius: 12px;
}

.product-card .product-details {
  text-align: left;
  padding: 0 5rem;
}

.product-card .product-details .product-brand {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 6px;
  font-weight: 600;
}

.product-card .product-details .product-title {
  font-size: 2.5rem;
}

.product-card .product-details .product-description,
.product-card .product-details .product-price {
  font-size: 1.2rem;
  color: #7a7777;
}

.product-card .product-details .mobile-old-price {
  display: none;
}

.product-card .product-details .discountedprice {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-card .product-details .discount {
  font-size: 15px;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  margin-left: 8px;
  padding: 5px 7px;
  border-radius: 5px;
}

.product-card .product-details .btn-quantity {
  background: none;
}

.desktop-quantity-btn button {
  border: none;
  padding: 10px 12px;
  color: hsl(26, 100%, 55%);
  font-size: 1.2rem;
  /* font-weight: bolder; */
  background-color: #fff;
}

.mobile-quantity-btn {
  display: none;
}

input {
  width: 20%;
  text-align: center;
  border: none;
  padding: 12px 0;
  font-weight: bolder;
  outline: none;
  font-size: 1rem;
}

.flash-sale input {
  background: none;
  color: #000;
}

.product-card .product-details .buttons .btn-addtocart button {
  color: #fff;
  background-color: hsl(26, 100%, 55%);
  border-style: none;
  padding: 10px 3rem;
  border-radius: 8px;
}

.product-card .product-details .buttons .btn-addtocart .cart-text {
  margin-left: 8px;
}

@media (max-width: 576px) {
  body {
    margin: 0;
    padding: 0;
  }

  .filter {
    text-align: center;
  }

  .product-card {
    display: block;
    padding: 2rem 0 0;
  }

  .product-card .product-details {
    text-align: center;
    padding: 0;
  }

  .product-card .product-details .mobile-old-price {
    display: inline;
    font-size: 1rem;
    font-weight: normal;
    color: #7a7777;
    margin-right: 12px;
  }

  .product-card .product-details .product-price {
    display: none;
  }

  .mobile-quantity-btn {
    display: inline;
  }

  .desktop-quantity-btn {
    display: none;
  }

  .product-card .product-details .btn-addtocart button {
    display: block;
    width: 70%;
    margin: auto;
    padding: 1rem 0;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .product-card .product-details .product-title {
    font-size: 2rem;
  }

  .flash-sale {
    background: #fff;
  }

  .flash-sale .product-details h4 {
    color: hsl(26, 100%, 55%);
    letter-spacing: 7px;
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
    padding: 0 1rem;
  }

  .mobile-quantity-btn button {
    border: none;
    padding: 10px 12px;
    color: hsl(26, 100%, 55%);
    font-size: 1.2rem;
    /* font-weight: bolder; */
    background-color: #fff;
  }
}
