.filter {
  text-align: left;
  margin-top: 8rem;
  font-style: italic;
}

.filter span {
  font-weight: 500;
}

select,
option {
  outline: none;
  font-style: italic;
}

.product-card {
  display: grid;
  grid-template-columns: 450px 1fr;
  align-items: center;
  padding: 2rem 3rem 2rem;
}

.flash-sale {
  background: linear-gradient(
    to right,
    hsla(26, 100%, 55%, 0.8),
    hsla(25, 100%, 94%, 0.4)
  );
  color: #000;
  border-radius: 8px;
  margin: 3rem 0;
  padding: 3rem 0 0;
}

.flash-sale > h1 {
  color: #ff0000;
  letter-spacing: 10px;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: uppercase;
  animation: animate 1.8s linear infinite;
}

.flash-sale h4 {
  color: hsl(26, 100%, 55%);
  font-weight: bolder;
  letter-spacing: 5px;
  animation: animate 1.8s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.product-card .product-image img {
  width: 100%;
  border-radius: 12px;
}

.product-card .product-image .thumbnails {
  margin: 0;
  padding: 0;
}

.product-card .product-image .thumbnails img {
  width: 20%;
}

.product-card .product-details {
  text-align: left;
  padding: 0 5rem;
}

.product-card .product-details .product-brand {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 6px;
  font-weight: 600;
}

.product-card .product-details .product-title {
  font-size: 2.5rem;
}

.product-card .product-details .product-description,
.product-card .product-details .product-price {
  font-size: 1.2rem;
  color: #7a7777;
}

.product-card .product-details .discountedprice {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-card .product-details .discount {
  font-size: 15px;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  margin-left: 8px;
  padding: 5px 7px;
  border-radius: 5px;
}

.product-card .product-details .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-card .product-details .btn-quantity {
  background: none;
}

.product-card .product-details .buttons .btn-quantity button {
  border: none;
  /* background-color: hsl(223, 64%, 98%); */
  padding: 10px 12px;
  color: hsl(26, 100%, 55%);
  font-size: 1rem;
  font-weight: bolder;
}

input {
  width: 20%;
  text-align: center;
  /* background-color: hsl(223, 64%, 98%); */
  border: none;
  padding: 12px 0;
  font-weight: bolder;
  outline: none;
}

/* .flash-sale .product-details .buttons .btn-quantity button, */
.flash-sale input {
  background: none;
  color: #000;
}

.product-card .product-details .buttons .btn-addtocart button {
  color: #fff;
  background-color: hsl(26, 100%, 55%);
  border-style: none;
  padding: 10px 3rem;
  border-radius: 8px;
}

.product-card .product-details .buttons .btn-addtocart .cart-text {
  margin-left: 8px;
}

/* @media (min-width: 1000px) {
  .product-card {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    padding: 5rem 3rem 0;
  }
} */
