nav {
  padding: 1.5rem 0;
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 25% 55% 20%;
  border-bottom: 0.2px groove #e2e0e0;
}

nav .navbar-links a {
  color: #858383;
  text-decoration: none;
  margin-right: 1.5rem;
}

nav .active {
  color: #000;
}

nav .navbar-cart {
  text-align: end;
}

nav .navbar-cart .cart {
  color: #000;
  margin-right: 2rem;
}

nav .navbar-links a:hover,
nav .navbar-cart .cart:hover {
  color: hsl(26, 100%, 55%);
}

/* Cart Quantity
nav .navbar-cart .cart-amount {
  margin-right: 1rem;
  text-decoration: none;
  color: #ff0000;
  font-size: 10px;
} */
