nav {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  background-color: #fff;
}

nav .desktop-navbar {
  padding: 1.5rem 0;
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 25% 55% 20%;
  border-bottom: 0.2px groove #e2e0e0;
}

nav .navbar-links a {
  color: #858383;
  text-decoration: none;
  margin-right: 1.5rem;
}

nav .active {
  color: #000;
}

nav .navbar-cart {
  text-align: end;
}

nav .navbar-cart .cart-link {
  margin-right: 2rem;
}

nav .navbar-cart .cart {
  color: #000;
}

nav .navbar-links a:hover,
nav .navbar-cart .cart:hover {
  color: hsl(26, 100%, 55%);
}

/* Cart Quantity */
nav .navbar-cart .cart-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  position: absolute;
  top: 18px;
  right: 90px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: hsl(26, 100%, 55%);
  border-radius: 50%;
}
