nav {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  background-color: #fff;
}

.mobile-nav {
  display: none;
}

nav .desktop-navbar {
  padding: 1.5rem 0;
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 25% 55% 20%;
  border-bottom: 0.2px groove #e2e0e0;
}

nav .navbar-links a {
  color: #858383;
  text-decoration: none;
  margin-right: 1.5rem;
}

nav .active {
  color: #000;
}

nav .navbar-cart {
  text-align: end;
  font-size: 1.3rem;
}

nav .navbar-cart .cart-link {
  margin-right: 2rem;
}

nav .navbar-cart .cart {
  color: #000;
}

nav .navbar-links a:hover,
nav .navbar-cart .cart:hover {
  color: hsl(26, 100%, 55%);
}

/* Cart Quantity */
nav .navbar-cart .cart-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  position: absolute;
  top: 18px;
  right: 90px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: hsl(26, 100%, 55%);
  border-radius: 50%;
}

@media (max-width: 576px) {
  nav .desktop-navbar {
    display: none;
  }

  .mobile-nav {
    display: inline;
  }

  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1.5rem; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 7rem 9rem rgba(0, 0, 0, 0.9);
    /* animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0); */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    font-weight: 600;
    transition: 0.6s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: hsl(26, 100%, 55%);
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.5rem;
    padding-top: 1.5rem;
    font-weight: normal;
  }

  .sidenav .sidenav-links {
    padding-top: 5rem;
  }

  .sidenav .sidenav-links a {
    margin-bottom: 2rem;
  }

  .hamburger {
    font-size: 2rem;
    color: #000;
    font-weight: bold;
  }

  .hamburger:hover {
    color: #5c5959;
  }

  .container {
    margin: 0 1.5rem;
    padding: 2rem 0;
  }

  .navbar-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding-top: 6rem; */
  }

  .navbar-brand-links img {
    margin-left: 2rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: green;
  }

  nav .navbar-cart .cart-basket {
    top: 25px;
    right: 70px;
    width: 15px;
    height: 15px;
  }
}
