body {
  font-family: "Kumbh Sans", sans-serif;
}

.App {
  text-align: center;
  margin: 3rem 4rem 0;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
